<div>
    <h2 id="page-heading">
        <span>DOC Frais</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-doc-frais" [routerLink]="['/doc-frais/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new DOC Frais
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="dOCFrais">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tDocFrais"><span>T Doc Frais</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totalFrais"><span>Total Frais</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dtSoumission"><span>Dt Soumission</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dtValidationPartiele"><span>Dt Validation Partiele</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dtValidation"><span>Dt Validation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dtPayement"><span>Dt Payement</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dtRefus"><span>Dt Refus</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="motifRefus"><span>Motif Refus</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totalFroute"><span>Total Froute</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totalDepense"><span>Total Depense</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tUserCre"><span>T User Cre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tUserModif"><span>T User Modif</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tPUser"><span>T P User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totalNbreKm"><span>Total Nbre Km</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dOCFrais of dOCFrais ;trackBy: trackId">
                <td><a [routerLink]="['/doc-frais', dOCFrais.id, 'view' ]">{{dOCFrais.id}}</a></td>
                <td>{{dOCFrais.tDocFrais}}</td>
                <td>{{dOCFrais.totalFrais}}</td>
                <td>{{dOCFrais.dtSoumission | date:'mediumDate'}}</td>
                <td>{{dOCFrais.dtValidationPartiele | date:'mediumDate'}}</td>
                <td>{{dOCFrais.dtValidation | date:'mediumDate'}}</td>
                <td>{{dOCFrais.dtPayement | date:'mediumDate'}}</td>
                <td>{{dOCFrais.dtRefus | date:'mediumDate'}}</td>
                <td>{{dOCFrais.motifRefus}}</td>
                <td>{{dOCFrais.totalFroute}}</td>
                <td>{{dOCFrais.totalDepense}}</td>
                <td>{{dOCFrais.tUserCre}}</td>
                <td>{{dOCFrais.tUserModif}}</td>
                <td>{{dOCFrais.tPUser}}</td>
                <td>{{dOCFrais.totalNbreKm}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/doc-frais', dOCFrais.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/doc-frais', dOCFrais.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'doc-frais/'+ dOCFrais.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="dOCFrais && dOCFrais.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
