<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="groupEmployeFrais">
            <h2><span>Group Employe Frais</span> {{groupEmployeFrais.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Plafond</span></dt>
                <dd>
                    <span>{{groupEmployeFrais.plafond}}</span>
                </dd>
                <dt><span>Dt Deb</span></dt>
                <dd>
                    <span>{{groupEmployeFrais.dtDeb}}</span>
                </dd>
                <dt><span>Dt Fin</span></dt>
                <dd>
                    <span>{{groupEmployeFrais.dtFin}}</span>
                </dd>
                <dt><span>T User Cre</span></dt>
                <dd>
                    <span>{{groupEmployeFrais.tUserCre}}</span>
                </dd>
                <dt><span>T User Mod</span></dt>
                <dd>
                    <span>{{groupEmployeFrais.tUserMod}}</span>
                </dd>
                <dt><span>Dt Cre</span></dt>
                <dd>
                    <span>{{groupEmployeFrais.dtCre}}</span>
                </dd>
                <dt><span>De Mod</span></dt>
                <dd>
                    <span>{{groupEmployeFrais.deMod}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/group-employe-frais', groupEmployeFrais.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
