<div>
    <h2 id="page-heading">
        <span>Group Employe Frais</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-group-employe-frais" [routerLink]="['/group-employe-frais/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Group Employe Frais
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="groupEmployeFrais">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Plafond</span></th>
            <th><span>Dt Deb</span></th>
            <th><span>Dt Fin</span></th>
            <th><span>T User Cre</span></th>
            <th><span>T User Mod</span></th>
            <th><span>Dt Cre</span></th>
            <th><span>De Mod</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let groupEmployeFrais of groupEmployeFrais ;trackBy: trackId">
                <td><a [routerLink]="['/group-employe-frais', groupEmployeFrais.id, 'view' ]">{{groupEmployeFrais.id}}</a></td>
                <td>{{groupEmployeFrais.plafond}}</td>
                <td>{{groupEmployeFrais.dtDeb | date:'mediumDate'}}</td>
                <td>{{groupEmployeFrais.dtFin | date:'mediumDate'}}</td>
                <td>{{groupEmployeFrais.tUserCre}}</td>
                <td>{{groupEmployeFrais.tUserMod}}</td>
                <td>{{groupEmployeFrais.dtCre | date:'mediumDate'}}</td>
                <td>{{groupEmployeFrais.deMod | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/group-employe-frais', groupEmployeFrais.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/group-employe-frais', groupEmployeFrais.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'group-employe-frais/'+ groupEmployeFrais.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
