<div>
    <h2 id="page-heading">
        <span>Employe Frais</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-employe-frais" [routerLink]="['/employe-frais/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Employe Frais
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="employeFrais">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>St</span></th>
            <th><span>Mat Veh</span></th>
            <th><span>Marque Veh</span></th>
            <th><span>Km</span></th>
            <th><span>Dern Km</span></th>
            <th><span>Forfait Km</span></th>
            <th><span>C Forfait</span></th>
            <th><span>Type Voiture</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employeFrais of employeFrais ;trackBy: trackId">
                <td><a [routerLink]="['/employe-frais', employeFrais.id, 'view' ]">{{employeFrais.id}}</a></td>
                <td>{{employeFrais.st}}</td>
                <td>{{employeFrais.matVeh}}</td>
                <td>{{employeFrais.marqueVeh}}</td>
                <td>{{employeFrais.km}}</td>
                <td>{{employeFrais.dernKm}}</td>
                <td>{{employeFrais.forfaitKm}}</td>
                <td>{{employeFrais.cForfait}}</td>
                <td>{{employeFrais.typeVoiture}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/employe-frais', employeFrais.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/employe-frais', employeFrais.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'employe-frais/'+ employeFrais.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
